html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

/* MENU BAR */
.menu-bar {
	position: -webkit-sticky; /* Safari */
	position: sticky;
	top: 0;
	background-color: #333;
	color:white;
}

.menu-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.menu-bar li {
	float: left;
}

.menu-bar li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

.menu-bar li a:hover {
  background-color: #111;
}

.menu-bar .active {
  background-color: #4CAF50;
}


/* INTRODUCTION */
.introduction {
	text-align: center;
}

.introduction section {
	max-width:600px;
	text-align:center;
	margin:0 auto;
}

/* INFO SECTIONS */
#info-section {
	display:-webkit-flex;
    -webkit-justify-content:center;

    display:flex;
    justify-content:center;
}

#info-section div {
	-webkit-flex:1;
    flex:1;
    border:thin solid #777;
	text-align: center;
}

/* CONTACT SECTION */

/* TO BE WORKED ON AT A LATER DATE */

/* FOOTER */
.footer {
	background-color: #111;
	bottom: 0;
	margin:0;
}

.footer ul {
	list-style-type: none;
	overflow: hidden;
	text-align: right;
	margin: 20px;
}

.footer li {
	color: white;
}
